@charset "utf-8";
/* CSS Document */

body{font-family: 'Roboto', sans-serif; color:rgb(71, 71, 71);}
::-moz-selection {color: white;background: #d454b4;}
::selection {color: white;background: #d454b4;}
.btn:active:focus, .btn:focus {outline: none !important;}
*, a, button, input {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
