/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jun, 2019, 3:16:49 PM
    Author     : ghardik
*/

.ark-container{margin-bottom: 30px;}
.ark-lists {padding: 0;}
.ark-lists li{display: inline-block;}
.ark-lists li:first-child{border-right: 1px solid #c1c1c1;padding-right: 10px;margin-right: 5px;}
.links{color: rgb(43, 144, 209);}
.m-t-0{margin-top: 0;}
.m-r-15{margin-right: 15px;}
.ark-container .custom_cancel_button,.ark-container .custom_save_button{float:unset !important;}
.ark-container .boxes{ border-left: 6px solid #33a9f5;padding-left: 9px;margin: 10px 0;}
.ark-container .boxes h4{margin: 0;}
.ark-container .boxes h6{margin: 0;color: #888;}
.right-side{display: flex;justify-content: flex-end;margin-right: 140px;}
.font-blue{ color:#33a9f5; }

.bs-callout {padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
.bs-callout h4 { margin-top: 0; margin-bottom: 5px; }
.bs-callout p:last-child { margin-bottom: 0; }
.bs-callout code { border-radius: 3px; }
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.d-inline-block{
    display: inline-block;
}

.card {margin-bottom: 2rem;box-shadow: 0 1px 2px rgba(0,0,0,.05);}
.card-body {flex: 1 1 auto;padding: 0rem 1.25rem 1.25rem 1.25rem;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .1875rem;}
.font-weight-semibold {font-weight: 500;}
.d-flex {display: -ms-flexbox!important;display: flex!important;}
.card-label span{text-transform: uppercase;font-size: 18px;}
.dropdown-menu.nohover > li > a:hover, .dropdown-menu.nohover > li > a:focus {
    background-color:transparent;
}
.ui-datepicker-calendar {
    display: none;
    }
 .icon-default{
    margin-left: auto;
    margin-bottom: auto;
    padding-top: 12.5px;
    position: relative;
}
.icon-default .open-div,.icon-default .open-div-month{
    display: block;
    position: absolute;
    right: 0;
        width: 100px;
    z-index: 4;
}
.icon-default .open-div ul,.icon-default .open-div-month ul{
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 0 #a5a5a5;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}
.icon-default .open-div ul li,.icon-default .open-div-month ul li{
   padding: 4px 10px;
    color: #4e4e4e;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
    font-size: 13px;
    text-align: left;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;

}
.icon-default .open-div ul li i,.icon-default .open-div-month ul li i{
    font-size: 18px;
}
.btn:hover {
    color: white;
    box-shadow:none;
    /*background-color: #222832;*/
}
.icon-default .open-div ul li i:hover,.icon-default .open-div-month ul li i:hover{
    color: white;
}
.icon-default .open-div ul li:hover,.icon-default .open-div-month ul li:hover{
    background-color: #33a9f5;
    color: white;
}
.icon-default .open-div.orange ul li:hover,.icon-default .open-div-month.orange ul li:hover{
background-color: #f57c00;
    }
.icon-default .open-div ul li:last-child,.icon-default .open-div-month ul li:last-child{
    border-bottom: none;
}
i.diff {
    font-size: 18px;
    color: #f0ad4e;
}
@media(max-width:767px){
    .ark-container {text-align: center;}
    .right-side {justify-content: center;}
}